A father, husband and technologist...

Luis Saffie is a technologist currently CTO/CPO at HomeStars Inc. Luis thrives on building high efficiency teams, technology and high impact products. He's an advisor, speaker and never ending researcher.

Luis is active in many of the Toronto tech communities; Ruby on Rails, Toronto CTO, 49 Spadina Tech Connect, and more.

Prior to his current role, Luis worked building medical software and scaling the technology team at the Toronto General Hospital, MaRS, Sick Kids and Toronto Rehab Institute.
