{% seo %}
View on GitHub
{{ site.title | default: site.github.repository_name }}
{{ site.description | default: site.github.project_tagline }}

<ul>
  {% for page in site.pages %}
    <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
    </li>
  {% endfor %}
</ul>

{% if site.show_downloads %}
Download this project as a .zip file Download this project as a tar.gz file 
{% endif %} 
{{ content }} 
{% if site.github.is_project_page %}
{{ site.title | default: site.github.repository_name }} maintained by {{ site.github.owner_name }}
{% endif %}
Published with GitHub Pages
{% if site.google_analytics %} {% endif %} 
